<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="assets/fonts/Inter-cyrillic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/> 
  <link rel="preload" href="assets/fonts/Inter-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous"/> 
  <link type="image/png" sizes="32x32" rel="icon" href="assets/imgs/favicon32.png">  
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css?v={{v}}" >  
  <title>Проект "Машинное обучение"</title>
</head>
<body>
  <section class="thanks">
    <div class="container">	  
		<h2>Большое спасибо!</h2>
		<div class="paragraph">	
			<p>Спасибо что приняли участие в опросе.</p><p>Ваше участие здорово поможет нам!</p><p></p>&nbsp;<p>Попросите ваших друзей тоже <a href="/form">заполнить анкету!</a></p>
		</div>	
	</div>	
  </section>
</script>  
</body>
</html>