<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="assets/fonts/Inter-cyrillic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/> 
  <link rel="preload" href="assets/fonts/Inter-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous"/> 
  <link type="image/png" sizes="32x32" rel="icon" href="assets/imgs/favicon32.png">  
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css?v={{v}}" >  
  <title>Проект "Машинное обучение"</title>
</head>
<body>
  <section class="main">
    <div class="container">	
		<div class="group header">	
			<h2>Добро пожаловать на страницу проекта "Машинное обучение"</h2>
			
			<div class="paragraph">	
				<p>Мы занимаемся проектом "Машинное обучение" и продуктом нашего проекта будет WEB приложение "Прогноз результата по итоговой годовой работе по математике"</p>
			</div>	
		</div>	
		
		<div class="group footer">	
			<div class="group">	
				<a class="button" href="/form">Помочь проекту - заполнить анкету школьника</a>
			</div>	
			<div class="group">	
				<a class="button dark" href="/predict">Спрогнозировать мою оценку по итоговой годовой работе по математике</a>
			</div>	
		</div>	
	</div>	
  </section>
</script>  
</body>
</html>